<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script>
        function sendChoice() {
            const find = document.getElementById('choice')
            const valueChoice = find.value

            if (valueChoice > 0 && valueChoice < 1009) {
                let url = `http://127.0.0.1:5000/pokemon?id=${valueChoice}`
                window.location.href = url;
            }
            else {
                result.innerHTML = `POR FAVOR DIGITE UM VALOR VÁLIDO <br> ( ${valueChoice} ) não é um valor válido `
            }
        }
    </script>
    <title>Busca - Pokemon e Digimon</title>
</head>

<body>
    <div class="home">
        <br>
        <h2>Busca por ID <br>Pokemon x Digimon</h2>
        <br>
        <p>Digite um número de 1 à 1008 para buscar um <br> Pokemon e o Digimon de mesmo ID para mostrar
            <br>o nome e a imagem deles.
        </p>
        <br>
        <input type="number" placeholder="Escolhe de 1 a 1008" id="choice">
        <button onclick="sendChoice()">TESTAR</button>
        <br>
        <br>
        <p>Ou teste o nosso modo aleatório <br><small>(o sistema escolhe um valor)</small></p>
        <br>
        <button><a href="http://127.0.0.1:5000/aleatorio">ALEATÓRIO</a></button>




        <p id="result" style="padding-top: 20px;">

        </p>

        <p class="paddTop">Desenvolvido por: &nbsp; Douglas Campos</p>
    </div>

</body>

</html>