<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Busca - Pokemon e Digimon</title>
</head>

<body>
    <div class="home">
        <div class="one">
            <p><strong>Busca por ID - Pokemon and Digimon</strong></p>
            <p><strong>Pokemon:</strong> <br> {{ resp.Pokemon }} </p>
            <img src="{{ resp.PokeImage }}">
        </div>

        <div class="two">
            <p><strong>Digimon:</strong> <br> {{ resp.Digimon }} </p>
            <img src="{{ resp.DigiImage }}">
        </div>

        <div class="paddTop">
            <button><a href="http://127.0.0.1:5000/">VOLTAR</a></button>
        </div>
    </div>


</body>

</html>