<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca - Pokemon e Digimon</title>
</head>

<body>
    <h2>Busca por ID - Pokemon and Digimon</h2>
<p>Pokemon: {{ resp.Pokemon }} </p>
<p>PokemonURL: {{ resp.PokeImage }} </p>
<br>

<p>Digimon: {{ resp.Digimon }} </p>
<p>DigimonURL: {{ resp.DigiImage }} </p>


<button>VOLTAR</button>
</body>

</html>